@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply text-gray-900 antialiased font-sans dark:bg-gray-950 dark:text-gray-100 transition-colors duration-300;
  }
}


